p
	| {{title}}
p
	a.btn.btn-success(href='#/blog') blog
	a.btn.btn-success(href='#/user') user
	| bài thơ đầu anh viết tặng em
	br
	| là bài thơ kể về đôi dép
	br
	| khi nỗi nhớ trong lòng da diết
	br
	| những vật tầm thường cũng viết thành thơ
